<!DOCTYPE html>
<html lang="pl">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154851109-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-154851109-1');
	</script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" crossorigin="anonymous"></script>
	<meta name="google-site-verification" content="m6HBYXUqFKJFFcrDg1qKzZU2u49hXYN43QUlDmc8Qg4" />
	<meta name="theme-color" content="#41805f">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="websites, strony internetowe głogów, głogów strony internetowe, intuicyjne strony, blog internetowy głogów, blog internetowy, maciej kuta">	
    <meta name="description" content="Welcome to Websites With Passion. I am Maciej Kuta. I write websites from scratch and updating it. They are intuitive, functional and responsive. My work is distinguished by quickness and quality (I do my best). I use newest technologies. Here you can be updated about my offer and projects">
    <title><%= header %></title>
	<meta name="google-site-verification" content="9FSWyiNz8TkGmlAX0sy3hKJ3g1StIuKKl3AxjNuC09Y" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous" async></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Sacramento&display=swap" rel="stylesheet">
  
  
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/logo_znak1.png" alt="logo" id="nav"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
			<% if(typeof home !== 'undefined'){ %>
				<li class="nav-item">
					<a class="nav-link active" href="/">Home</a>
				</li>
			<% } else { %>
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
      <% } %>
      <% if(typeof my !== 'undefined'){ %>
        <li class="nav-item">
         
            <a class="nav-link active" href="/projects">
              <%= language.__("Moje projekty") %>
            </a>
            
        </li>
       
      <% } else { %>
        <li class="nav-item">
         
            <a class="nav-link" href="/projects">
              <%= language.__("Moje projekty") %>
            </a>
            
        </li>
      <% } %>
      
			
			
           
           
     
			
      <% if(typeof orders !== 'undefined'){ %>
				<li class="nav-item">
					<a class="nav-link active" href="/website-orders/description"><%= language.__("Zamówienia") %></a>
				</li>
			<% } else { %>
				<li class="nav-item">
					<a class="nav-link" href="/website-orders/description"><%= language.__("Zamówienia") %></a>
				</li>
			<% } %>
      <li class="nav-item">
        <a class="nav-link" href="/support"><%= language.__('Wesprzyj') %></a>
      </li>  
     
         
           
			 
            <% if(typeof currentUser !== 'undefined'){ %>
              <% if(currentUser.username === "Admin"){ %>
                <% if(typeof add !== 'undefined'){ %>
                  <li class="nav-item">
                    <a class="nav-link active" href="/projects/new">Dodaj projekt</a>
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/projects/new">Dodaj projekt</a>
                  </li>
                <% } %>
                
              
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><%= language.__('Wyloguj') %></a>
                </li>
              <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><%= language.__('Wyloguj') %></a>
                </li>
              <% } %>
              
            <% } %>
        </ul>
       
      </div>	
        </div>	
     
        
        
    </nav>
    
   