<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio</title>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body style="background: #dddddd">
        <div class="container">
            <div class="row justify-content-center" style="margin-top:20%">
                <div class="col-lg-6 col-md-12">
					<div class="card">
						<br>
						<div class="card-title text-center" id="name">
                                <%= language.__('Zarejestruj się na') %> portfolio
						</div>
						<div class="card-body">
                                <% if(error.length > 0){ %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                            <form action="/register" method="post">
                                <p class="normalf"><%= language.__('Nazwa użytkownika') %></p>
								<input type="text" class="form-control" name="username" placeholder="<%= language.__('Nazwa użytkownika') %>">
                                <br>
                                <p class="normalf"><%= language.__('Hasło') %></p>
								<input type="password" class="form-control" name="password"  placeholder="<%= language.__('Hasło') %>">
								<br>
								<input type="submit" value="<%= language.__('Zarejestruj się') %>" class="btn btn-outline-primary">
							</form>
						</div>
					</div>
                    
                </div>
            </div>
        </div>
    </body>
</html>