<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 5%">
            <div id="form1">
                <a href="/about">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony O mnie
                </a>
                <h1 class="login">Edytuj o mnie</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/about/<%= user._id %>?_method=PUT" method="post">
                    
                    <div class="form-floating mb-3">
                       
                        <input type="text" class="form-control" autocomplete="off" id="username" name="user[username]" value="<%= user.username %>" placeholder="Nazwa użytkownika">
                        <label for="username" class="username">
                            Edytuj nazwę użytkownika
                            
                        </label>
                        
                    </div>
                    
                    <div class="form-floating mb-3">
                       
                        <input type="email" class="form-control" autocomplete="off" id="email" name="user[email]" value="<%= user.email %>" placeholder="Email">
                        <label for="email" class="username">
                            Edytuj email
                            
                        </label>
                        
                    </div>
                   
                    <div class="form-floating mb-3">
                       
                        <input type="text" class="form-control" autocomplete="off" id="fbLink" name="user[fbLink]" value="<%= user.fbLink %>" placeholder="Link do Facebooka">
                        <label for="fbLink" class="username">
                            Edytuj link do Facebooka
                            
                        </label>
                        
                    </div>
                    <div class="form-floating mb-3">
                       
                        <input type="text" class="form-control" autocomplete="off" id="igLink" name="user[igLink]" value="<%= user.igLink %>" placeholder="Link do Instagrama">
                        <label for="igLink" class="username">
                            Edytuj link do Instagrama
                            
                        </label>
                        
                    </div>
                    
                    
                    
                    <div class="form-floating mb-3">
                       
                        <textarea name="user[about]" placeholder="Opis projektu" id="polish" class="form-control"><%= user.about %></textarea>
                        <label for="polish" class="username">
                            Edytuj opis
                            
                        </label>
                        
                    </div>
                    <div class="form-floating mb-3">
                       
                        <textarea name="user[en]" placeholder="Opis projektu po angielsku" id="english" class="form-control"><%= user.en %></textarea>
                        <label for="english" class="username">
                            Edytuj opis po angielsku
                            
                        </label>
                        
                    </div>
                    <input type="submit" value="Edytuj o mnie" class="btn btn-primary button">
                </form>
            </div>
        </div>

    </div>
</div>
<%- include("../partials/footera") %>