<% include ../partials/headera %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/about">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony O mnie
                </a>
                <h1 class="login">Edytuj osiągnięcie <%= achievement.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/about/<%= currentUser._id %>/achievements/<%= achievement._id %>?_method=PUT" method="post">
                    
                    <div class="form-floating mb-3">
                       
                        <input type="text" name="achievement[title]" id="title" autocomplete="off" value="<%= achievement.title %>" placeholder="Tytuł osiagnięcia" class="form-control">
                        <label for="title" class="username">
                            Tytuł osiągnięcia
                            
                        </label>
                        
                    </div>
                    
                    <div class="form-floating mb-3">
                       
                        <input type="text" name="achievement[titleEn]" id="titleEn" autocomplete="off" value="<%= achievement.titleEn %>" placeholder="Tytuł osiagnięcia angielski" class="form-control">
                        <label for="titleEn" class="username">
                            Tytuł osiągnięcia po angielsku
                            
                        </label>
                        
                    </div>
                    
                   
                    <input type="submit" value="Edytuj osiągnięcie" class="btn btn-primary button">
                </form>
            </div>
        </div>

    </div>
</div>
<%- include("../partials/footera") %>