<% include ../partials/header %>
<br>
<br>
<br>
<br>
    <div class="container">
       
            <div class="row">
               
                    <div class="col-lg-12">
                        <div class="card">
                           
                            <img src="<%= project.profile %>" alt="Strona" class="card-img-top main">
                                
                        
                            <div class="card-body">
                                <div class="card-title text-center" id="name"><%= project.title %></div>
                                <% if(project.categories.length > 0){ %>
                                    <p class="additionalInfos">
                                        <i class="fas fa-tag icon"></i>
                                        <% project.categories.forEach((category) => { %>
                                            <a href="/projects/category/<%= category.link %>" style="color: <%= category.color %>">
                                                <% if(lang === "pl"){ %>
                                                    <%= category.title %>,
                                                <% } else { %>
                                                    <%= category.title %>,
                                                <% } %>
                                                
                                            </a>
                                        <% }) %>
                                            
                                    
                                    </p>
                                <% } %>
                                <p class="additionalInfos"> <i class="fas fa-tasks icon"></i> Status:
									<% if(lang==="pl"){ %>
									<strong><%- project.status %></strong> 
									<% } else { %>
										<strong><%- project.statusEn %></strong> 
									<% } %>
									
								</p>
                                <p class="additionalInfos"><i class="fas fa-link icon"></i> Link: 
                                    <% if(project.link ===""){ %>
                                        <strong><%= language.__("Nie mam jeszcze gotowego linku do projektu") %></strong>
                                    <% } else { %>
                                      <strong><span><a href="<%= project.link %>" target="_blank" id="projectLink"><%= project.link %></a></span></strong> 
                                    <% } %> 
                                </p>
                                <% if(typeof project.added !== 'undefined'){ %>
                                    <p class="additionalInfos"><i class="far fa-clock icon"></i> <%= language.__("Ostatnia aktualizacja:") %> 
                                        <% if(project.edited){ %>
                                            <%= project.edited.toLocaleDateString() %>
                                        <% } else { %>
                                            <%= project.added.toLocaleDateString() %>
                                        <% } %>
                                        
                                    </p>
                                <% } %>
								<% if(lang==="pl"){ %>
									 <p class="project_description"><%- project.description %></p>
								<% } else { %>
									 <p class="project_description"><%- project.en %></p>
								<% } %>
                               
                                <% if(project.pictures.length===0){ %>
                                    <p id="name"><%= language.__("Galeria") %></p>
                                    <div class="alert alert-info" role="alert">
                                        <%= language.__("Nie mam żadnych zdjęć do") %> <%= project.title %>
                                    </div>
                                <% } else { %>
                                    <p id="name"><%= language.__("Galeria") %></p>
                                    <div class="row">
                                       
                                            <% for(let i=0; i<project.pictures.length; i++){ %>
										 		<div class="col-lg-4 col-md-12">
                                                	<img src="<%= project.pictures[i] %>" alt="" class="img-thumbnail">
												</div>
                                            <% } %> 
                                        
                                    </div>
                                    
                                <% } %>
                                
                                
                                
                                <% if(typeof currentUser !== 'undefined'){ %>
                                    <% if(currentUser.username === "Admin"){ %>
                                        
                                        <p id="name">Możliwości modyfikacji:</p>
                                            <ul class="normal">
                                                
                                                <li>
                                                    <a href="/projects/<%= project._id %>/edit">Edytuj</a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#deleteProject">Usuń</a>
                                                </li>
                                                <li>
                                                    <a href="/projects/<%= project._id %>/edit/picture">Edytuj zdjęcie główne</a>
                                                </li>
                                                <li>
                                                    <a href="/projects/<%= project._id %>/new/picture">Dodaj zdjęcie do galerii</a>
                                                </li>
                                            </ul>
                                          
                                        
                                    <% } %>
                                       
                                  
                                    
                                <% } %>
                            </div>
                            <div class="card-footer">
                                <div id="name"><%= language.__('Opinie o') %> <%= project.title %></div>
                                <br>
                               
                                <% if(typeof reviews !== 'undefined'){ %>
                                    <% if(reviews.length === 0){ %>
                                        <div class="alert alert-light" role="alert">
                                            <%= language.__('Nikt na razie nie dodał opinii o projekcie') %> <%= project.title %> <% if(lang === "en"){ %>
                                                project
                                            <% } %>                                        
                                        </div>
                                        <a href="/projects/<%= project.subpageLink %>/reviews/new" class="btn btn-primary button-small button-orange"><%= language.__('Dodaj opinię') %></a>
                                    
                                    <% } else { %>
                                        <a href="/projects/<%= project.subpageLink %>/reviews/new" class="btn btn-primary button-small button-orange" style="margin-bottom:  5%;"><%= language.__('Dodaj opinię') %></a>
                                        <br>
                                        <div style="height: 400px; overflow-y: scroll;">
                                            <% for(let i=reviews.length-1; i>=0; i--){ %>
                                                <div id="ratingDiv">
                                                    <% for(let j=1;j<=5;j++){ %>
                                                        <% if(j <= reviews[i].stars){ %>
                                                            <div class="star d-inline" id="<%= j %>" style="color: goldenrod;"><i class="fas fa-star"></i></div>
                                                        <% } else { %>
                                                            <div class="star d-inline" id="<%= j %>"><i class="fas fa-star"></i></div>
                                                        <% } %>
                                                       
                                                    <% } %>
                                                    
                                                </div>
                                                <br>
                                                <p class="author"><%= reviews[i].author %> </p>
                                                <p class="normal"><%= reviews[i].text %></p>
                                                
                                                <p class="date"><%= reviews[i].written.toLocaleDateString() %></p>
                                                <% if(currentUser){ %>
                                                    <% if(currentUser.username === "Admin"){ %>
                                                        <a href="/projects/<%= project._id %>/reviews/<%= reviews[i]._id %>/delete">Usuń</a>
                                                    <% } %>
                                                <% } %>
                                                <hr>
                                            <% } %>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                    <div class="alert alert-light" role="alert">
                                            <%= language.__('Nikt na razie nie dodał opinii o projekcie') %> <%= project.title %> <% if(lang === "en"){ %>
                                                project
                                            <% } %> 
                                    </div>
                                    <a href="/projects/<%= project.subpageLink %>/reviews/new" class="btn btn-primary button-small button-orange"><%= language.__('Dodaj opinię') %></a>
                                    
                                <% } %>
                                
                            </div>
                        </div>
                    </div>
               
                   
            </div>
           
       
    </div>
   
      <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="addAProject" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="name">Potwierdzenie usunięcia <%= project.title %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: #77a6f2">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <p class="normal">Czy na pewno chcesz usunąć projekt <%= project.title %>?</p>
            </div>
           <div class="modal-footer">
                <a href="/projects/<%= project._id %>/delete" class="btn-mine">Usuń</a>
                <button type="button" class="btn-mine-full" data-dismiss="modal">Anuluj</button>
           </div>
          </div>
        </div>
      </div>
      
<% include ../partials/footer %>